.container {
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: auto;
}

.border-button {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.result {
    grid-area: 6/2/7/4;
    margin: 0 auto;
    width: 50%;
}